language: objective-c
osx_image: xcode8

env:
  - PLATFORM=iOS  DESTINATION='platform=iOS Simulator,name=iPhone 6S'
  - PLATFORM=Mac  DESTINATION='platform=OS X'
  - PLATFORM=tvOS DESTINATION='platform=tvOS Simulator,name=Apple TV 1080p'

script:
  - xcodebuild -version
  - xcodebuild -project AnchorKit.xcodeproj -scheme "AnchorKit" -destination "$DESTINATION" -configuration Debug CODE_SIGNING_REQUIRED=NO test
